$Accordion: (
  'info': tomato,
  'danger': teal,
  'width': 100%,
  'closedBackgroundStart': white,  // Slight beige color start
  'closedBackgroundEnd': #d4d4d4,
  'boxShadow': 0px 2px 4px rgba(0, 0, 0, 0.1)  // Box shadow with slight opacity
);

// Apply the custom styles to the Accordion component
.accordion {
  .accordion-button {
    background: linear-gradient(to right, map-get($Accordion, 'closedBackgroundStart'), map-get($Accordion, 'closedBackgroundEnd'));
    color: #000;  // Change the text color if needed
    box-shadow: map-get($Accordion, 'boxShadow');
  }
}